body{
  display: flex;
  justify-content: center;
  padding: 100px 80px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100px;
  color:white;
  background-image: url("indian\ flag.jpg");
}
